{% extends "account/base.html" %}

{% block title %}Change Password{% endblock %} 
{% block content_title %}Change Password{% endblock %} 


{% block content %}
<div class="row px-3 mb-5">
    <div class="panel-bg-color col-12 py-3 px-1">
        <form method="POST" action="" class="password_change">
            {% csrf_token %}

            {{ form.as_p }}

            <button 
                type="submit" 
                name="action"
                class="btn btn-success btn-lg mt-3"
            >
                Change Password
            </button>
        </form>
    </div>
</div>
{% endblock content %}
