{% extends "account/base.html" %}
{% load account %}

{% block title %}Password Reset{% endblock %} 
{% block content_title %}Password Reset{% endblock %} 


{% block content %}
<div class="row px-3 mb-5">
    <div class="panel-bg-color col-12 p-3">
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

		<p>
			Forgotten your password? Enter your e-mail address below, and we'll
			send you an e-mail allowing you to reset it.
		</p>

		<form method="POST" action="">
			{% csrf_token %} 
            
            {{ form.as_p }}

            <button type="submit" class="btn btn-success btn-lg my-3">
                Reset My Password
            </button>
		</form>

		<p>
			Please contact us if you have any trouble resetting your password.
		</p>
	</div>
</div>
{% endblock content %}
