{% extends "account/base.html" %}

{% block title %}Change Password{% endblock %} 
{% block content_title %}Change Password{% endblock %}


{% block content %}
<div class="row px-3 mb-5 d-flex justify-content-between">
    {% include "customer/utils/_link_list_group.html" with page="password" user=user only %}

    <div class="col-lg-9 col-md-12 px-0">
        <div id="content" class="panel-bg-color p-3 rounded">
            <form method="POST" action="">
                {% csrf_token %}

                {{ form.as_p }}

                <button
                    type="submit"
                    name="action"
                    class="btn btn-success btn-lg mt-3"
                >
                    Change Password
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
