{% extends "account/base.html" %}

{% block title %}Change Password{% endblock %}
 
{% block content_title %}
{% if token_fail %}Bad Token{% else %}Change Password{% endif %}
{% endblock %} 


{% block content %}
<div class="row px-3 mb-5">
    <div class="panel-bg-color col-12 p-3">
    {% if token_fail %}
        <p>
            The password reset link was invalid, possibly because it has already been
            used. Please request a
            <a href="{% url 'account_reset_password' %}">new password reset</a>.
        </p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}

                {{ form.as_p }}

                <input 
                    type="submit" 
                    name="action" 
                    value="Change password" 
                    class="btn btn-success btn-lg mt-3"
                />
            </form>
        {% else %}
            <p>Your password is now changed.</p>
        {% endif %}
    {% endif %}
    </div>
</div>
{% endblock content %}

