{% extends "account/base.html" %}

{% block title %}Signup{% endblock %}
{% block content_title %}Sign Up{% endblock %}


{% block content %}
    <p>
        Already have an account?
        Then please <a href="{{ login_url }}">sign in</a>.
    </p>

    <form id="signup_form" method="post" action="">
        {% csrf_token %}

        {{ form.as_p }}

        {% if redirect_field_value %}
            <input
                    type="hidden"
                    name="{{ redirect_field_name }}"
                    value="{{ redirect_field_value }}"
            />
        {% endif %}

        <button
                type="submit"
                class="loading btn btn-success btn-lg d-block mt-3"
        >
            Sign Up &raquo;
        </button>
    </form>
{% endblock content %}
