{% extends 'cart/_base.html' %} 

{% block title %}Cart{% endblock %} 
{% block content_title %}Your shopping cart{% endblock %} 


{% block advanced_content %}

{% if cart|length == 0 %}
    <div class="mb-5">
        {% include 'utils/_alert.html' with message="There are no products in your cart yet." category="primary" dismissible=False only %}
    </div>
{% else %}
{% block order_create_form %}{% endblock %} 

<div class="row px-3 mb-5">
    <div class="panel-bg-color col-12 p-3 rounded">
        {% include 'cart/utils/_product_table.html' with collection=cart app="cart" only %}

        <div class="d-flex justify-content-between fs-4 mt-3">
            <b>Total price: </b>
            <span id="total_price">{{ cart.get_total_price }}$</span>
        </div>

        {% block cart_buttons %} 
        <div class="d-flex justify-content-end mt-4">
            <div>
                <a 
                    href="{% url 'shop:product_list' %}" 
                    class="btn btn-lg btn-primary me-3 mb-2"
                >
                    Continue shopping
                </a>
                <a 
                    href="{% url 'order:create' %}" 
                    class="btn btn-lg btn-success mb-2"
                >
                    Checkout
                </a>
            </div>
        </div>
        {% endblock cart_buttons %}
    </div>
</div>
{% endif %} 

{% endblock advanced_content %}


{% block scripts %}

{% block script_to_disable_cart_btn %} 
<!-- Script to disable cart button in the site header -->
<script defer>
    document.querySelector("ion-icon[name='cart']").parentElement.href = "#";

    // Template variable for fetch "POST" request
    const csrf_token = "{{ csrf_token }}";
</script>
{% endblock script_to_disable_cart_btn %}

{% if cart|length != 0 %}
{% load static %}
<script defer src="{% static 'js/cart/remove_btn.js' %}"></script>
<script defer src="{% static 'js/cart/quantity_field.js' %}"></script>
{% endif %}

{% endblock scripts %} 