{% extends "_base_email.html" %}

{% block title %}Please Confirm Your E-mail Address{% endblock %}
{% block content_title %}Please Confirm Your E-mail Address{% endblock %}

{% block content %}
{% load account %}
{% user_display user as user_display %}
{% autoescape off %}
<p>
    You're receiving this e-mail because user {{ user_display }}
    has given yours as an e-mail address to connect their account.
</p>
<p>
    To confirm this is correct, go to {{ activate_url }}
</p>
{% endautoescape %}
{% endblock content %}