{% extends "_base_email.html" %}

{% block title %}Password Reset E-mail{% endblock %}
{% block content_title %}Password Reset E-mail{% endblock %}

{% block content %}
{% autoescape off %}
<p>
    You're receiving this e-mail because you or someone else
    has requested a password for your user account.
    It can be safely ignored if you did not request a password reset.
    Click the link below to reset your password.
</p>
<p>{{ password_reset_url }}</p>
<p>
    {% if username %}
        In case you forgot, your username is {{ username }}.
    {% endif %}
</p>
{% endautoescape %}
{% endblock content %}