{% with product_url=product.get_absolute_url %}
<!-- Product image -->
<div class="product__image w-100 mb-2">
	<a class="w-100 opacity-1" href="{{ product_url }}">
		<img
            loading="lazy"
			alt="{{ product.name }} image"
			class="img-fluid w-100 rounded"
			src="https://raw.githubusercontent.com/Gubchik123/LapZone/production{{ product.image.url }}"
		/>
	</a>
</div>
<!-- Product name and price -->
<div class="product__details mb-3">
	<hr class="table-group-divider" />
	<h5 class="mb-2 product__title">
		<a href="{{ product_url }}" class="text-decoration-none text-center">
			{{ product.name }}
		</a>
	</h5>
	<hr class="table-group-divider" />
	<h4><b>{{ product.price }}$</b></h4>
</div>
<!-- "Like" and "Add to cart" product buttons -->
<div class="product__buttons d-flex justify-content-between">
{% if user.is_authenticated %}
	<button
		data-href="{{ product_url }}like/"
		class="like btn btn-danger me-auto"
	>
		<ion-icon
			name="heart{% if product.id not in liked_products %}-outline{% endif %}"
		></ion-icon>
	</button>
{% else %}
	<span></span>
{% endif %} 
    
{% if product.id|stringformat:"s" in cart %}
	<a href="{% url 'cart:detail' %}" class="btn btn-success ms-2">
		<ion-icon name="cart"></ion-icon>
	</a>
{% else %}
	<button
		class="cart btn btn-success ms-2"
		data-product_id="{{ product.id }}"
	>
		<ion-icon name="cart-outline"></ion-icon>
	</button>
{% endif %}
</div>
{% endwith %}
