{% extends '_base.html' %} 
{% load static %} 

{% block title %}Home{% endblock %}
{% block content_title %}Home page{% endblock %} 

{% block styles %}
<style>
    .my-carousel .carousel-item img { max-height: 70vh; }

    .white-space-nowrap { white-space: nowrap; }
</style>
{% endblock styles %} 


{% block content %}
<div class="row min-vh-100 px-3 d-flex justify-content-between">
	<div class="min-vh-100 panel-bg-color col-12 p-0">
		<!-- Carousel - start -->
		<div
			data-bs-ride="carousel"
			id="carouselAutoplaying"
			class="carousel my-carousel slide bg-secondary"
		>
			<!-- Carousel body (images) -->
			<div class="carousel-inner">
				{% for image in carousel_images %}
				<div class="carousel-item" data-bs-interval="5000">
					<img class="d-block mx-auto" src="{{ image.image.url }}" />
				</div>
				{% endfor %}
			</div>
			<!-- Button to next image -->
			<button
				class="carousel-control-prev"
				type="button"
				data-bs-target="#carouselAutoplaying"
				data-bs-slide="prev"
			>
				<span
					class="carousel-control-prev-icon"
					aria-hidden="true"
				></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<!-- Button to previous image -->
			<button
				class="carousel-control-next"
				type="button"
				data-bs-target="#carouselAutoplaying"
				data-bs-slide="next"
			>
				<span
					class="carousel-control-next-icon"
					aria-hidden="true"
				></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<!-- Carousel - finish -->

		<div class="px-3 pb-5">
			<h3 class="mt-5 mb-3">Categories</h3>
			<div class="white-space-nowrap overflow-auto">
				{% for category in categories %}
				<a
					href="{% url 'shop:category' category.slug %}"
					class="btn btn-dark d-inline-block border-1 border-light me-2 fs-6 px-4 py-2"
				>
					{{ category.name }}
				</a>
				{% endfor %}
			</div>

			<h3 class="mt-5 mb-3">Brands</h3>
			<div class="white-space-nowrap overflow-auto">
				{% for brand in brands %}
				<a
					href="{% url 'shop:brand' brand.slug %}"
					class="btn btn-dark d-inline-block border-1 border-light me-2 fs-6 px-4 py-2"
				>
					{{ brand.name }}
				</a>
				{% endfor %}
			</div>

			<h3 class="mt-5 mb-3">
				Internet shop for selling laptops and accessories for them
			</h3>
			<p class="fs-5">
				Welcome to LapZone, your one-stop-shop for laptops and
				accessories. We offer a wide range of products to meet all your
				computing needs. Whether you're a student, a professional, or a
				gamer, we have something for everyone. 
            </p>
            <p class="fs-5">
                At LapZone, we're
				passionate about technology and strive to provide our customers
				with the latest and greatest products on the market. Shop with
				us and experience top-notch customer service, fast shipping, and
				competitive prices.
            </p> 
            <p class="fs-5">
                Thank you for choosing LapZone as your go-to
				source for all things tech.
			</p>
		</div>
	</div>
</div>
{% endblock content %} 


{% block scripts %}
<!-- Script to add "active" class selector for first carousel item -->
<script>
	let first_carousel_image = document.querySelectorAll(".carousel-item")[0];
	first_carousel_image.classList.add("active");
</script>
{% endblock scripts %}
