{% extends 'shop/_base.html' %} 
{% load static %} 

{% block title %}
    {% if request.GET.q %}
        Search results for "{{ request.GET.q }}"
    {% else %}
        {{ page_title }} 
    {% endif %}

    {% if request.GET.orderby and request.GET.orderdir %} 
    ordered by {{ request.GET.orderby }} 
    {% endif %}
{% endblock %}

{% block content_title %}
    {% if request.GET.q %}
        Search results for "{{ request.GET.q }}"
    {% else %}
        {{ page_title }}
    {% endif %}

    {% if request.GET.orderby and request.GET.orderdir %} 
    ordered by {{ request.GET.orderby }} 
    {% endif %}
{% endblock %} 

{% block styles %}
<style>
    #products {
        margin-left: 20px;
        margin-right: 0px;
    }

    @media screen and (max-width: 992px) { /* Bootstrap5 .lg breakpoint */
        #products { margin-left: 0px; }
    }
</style>
{% endblock styles %} 


{% block content %}
<div class="row px-3 d-flex justify-content-between">
    <!-- Sidebar with form(s) for filtering -->
    <div class="accordion col-lg-3 col-md-12 p-0">
        <div class="accordion-item panel-bg-color text-color">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button
                    type="button"
                    aria-expanded="true"
                    data-bs-toggle="collapse"
                    aria-controls="panelsStayOpen-collapseOne"
                    data-bs-target="#panelsStayOpen-collapseOne"
                    class="accordion-button panel-bg-color text-color"
                >
                    Filtering
                </button>
            </h2>
            <div
                id="panelsStayOpen-collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne"
            >
                <div class="accordion-body">
                    <form 
                        method="post" 
                        name="filter"
                        action="{% url 'shop:product_list' %}?{{ request.GET.urlencode }}" 
                    >
                        {% csrf_token %}
                        {{ filter_form.as_div }}
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-success btn-lg mt-3">
                                Filter
                            </button>
                            <a 
                                href="{% url 'shop:product_list' %}" 
                                class="btn btn-danger btn-lg mt-3"
                            >
                                Clear
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Block with product cards -->
    <div class="col-lg-9 col-md-12 px-0">
        <div id="products" class="min-vh-100 row panel-bg-color px-3">
            <!-- Dropdown list with links for ordering -->
            <div class="dropdown mt-3 mb-2">
                <button 
                    aria-expanded="false"
                    data-bs-toggle="dropdown" 
                    class="btn btn-secondary btn-lg border-1 border-light dropdown-toggle" 
                >
                    Ordering
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a 
                            class="dropdown-item"
                            href="{{ request.path }}?orderby=name&orderdir=asc&q={{ request.GET.q }}" 
                        >
                            By name
                        </a>
                    </li>
                    <li>
                        <a 
                            class="dropdown-item"
                            href="{{ request.path }}?orderby=price&orderdir=asc&q={{ request.GET.q }}" 
                        >
                            From cheap
                        </a>
                    </li>
                    <li>
                        <a 
                            class="dropdown-item"
                            href="{{ request.path }}?orderby=price&orderdir=desc&q={{ request.GET.q }}" 
                        >
                            From expensive
                        </a>
                    </li>
                </ul>
            </div>
            {% for product in page_obj %}
            {% with product_url=product.get_absolute_url %}
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
                <div class="product w-100 d-flex flex-column justify-content-between rounded mb-3">
                    <div class="product__image w-100 mb-2">
                        <a 
                            class="w-100 opacity-1"
                            href="{{ product_url }}" 
                        >
                            <img
                                src="{{ product.image.url }}"
                                alt="{{ product.name }} image"
                                class="img-fluid w-100 rounded"
                            />
                        </a>
                    </div>
                    <div class="product__details mb-3">
                        <hr class="table-group-divider" />
                        <h4 class="mb-2 product__title">
                            <a
                                href="{{ product_url }}"
                                class="text-decoration-none text-center"
                            >
                                {{ product.name |truncatechars:30 }}
                            </a>
                        </h4>
                        <hr class="table-group-divider" />
                        <h3><b>{{ product.price }}$</b></h3>
                    </div>
                    <div class="product__buttons d-flex justify-content-between">
                    {% if user.is_authenticated %}
                        <button
                            data-href="{{ product_url }}like/"
                            class="like btn btn-danger me-auto"
                        >
                            <ion-icon name="heart{% if product.id not in liked_products %}-outline{% endif %}"></ion-icon>
                        </button>
                    {% else %}
                        <span></span>
                    {% endif %} 
                        
                    {% if product.id|stringformat:"s" in cart.cart %}
                        <a
                            href="{% url 'cart:detail' %}"
                            class="btn btn-success ms-2"
                        >
                            <ion-icon name="cart"></ion-icon>
                        </a>
                    {% else %} 
                        <button
                            class="cart btn btn-success ms-2"
                            data-product_id="{{ product.id }}"
                        >
                            <ion-icon name="cart-outline"></ion-icon>
                        </button>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endwith %} 
            {% empty %}
                <div>
                    {% include 'utils/_alert.html' with message="There are no products that match your search criteria." category="primary" dismissible=False only %}
                </div>
            {% endfor %} 

            {% if page_obj.paginator.num_pages > 1 %} 
                {% if "page" in request.GET.urlencode %}
                    {% include 'utils/_pagination_nav.html' with page_obj=page_obj other_get_parameters=request.GET.urlencode|slice:"7:" only %}
                {% else %}
                    {% include 'utils/_pagination_nav.html' with page_obj=page_obj other_get_parameters=request.GET.urlencode only %}
                {% endif %} 
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %} 


{% block scripts %}
{{ block.super }}

<script src="{% static 'js/shop/product_list.js' %}" defer></script>
{% endblock %} 
