{% extends 'shop/_base.html' %} 
{% load static %}

{# Redefining content of meta tags #}
{% block social_image %}{{ product.image.url }}{% endblock %}
{% block page_description %}{{ product.description |striptags|truncatewords:25 }}{% endblock %}
{% block social_description %}{{ product.description |striptags|truncatewords:25 }}{% endblock %}

{% block title %}{{ product.name }}{% endblock %} 
{% block content_title %}{{ product.name }}{% endblock %}

{% block styles %}
<link
    type="text/css"
    rel="stylesheet"
    href="{% static 'css/shop/product_detail.css' %}"
/> 
{% endblock %} 


{% block content %}
<!-- Row with product shots and the main buttons -->
<div class="row px-3">
	<!-- Col with Bootstrap5 carousel with product shots -->
	<div class="col-lg-6 col-md-12 panel-bg-color py-3">
		<div class="w-100 h-100 d-flex content-center">
			<div
				id="productCarousel"
				class="carousel slide"
				data-bs-ride="carousel"
			>
				<div class="carousel-inner">
					<div class="carousel-item active" data-bs-interval="5000">
						<img
							class="d-block w-100"
							src="{{ product.image.url }}"
							alt="{{ product.name }} image"
						/>
					</div>
					{% for shot in product.productshot_set.all %}
					<div class="carousel-item" data-bs-interval="3000">
						<img
							class="d-block w-100"
							alt="{{ shot.name }}"
							src="{{ shot.image.url }}"
						/>
					</div>
					{% endfor %}
				</div>
				<!-- Carousel control to previous image -->
				<button
					type="button"
					data-bs-slide="prev"
					class="carousel-control-prev"
					data-bs-target="#productCarousel"
				>
					<span
						aria-hidden="true"
						class="carousel-control-prev-icon"
					></span>
				</button>
				<!-- Carousel control to next image -->
				<button
					type="button"
					data-bs-slide="next"
					class="carousel-control-next"
					data-bs-target="#productCarousel"
				>
					<span
						aria-hidden="true"
						class="carousel-control-next-icon"
					></span>
				</button>
			</div>
		</div>
	</div>
	<!-- Col with short product description and the main buttons -->
	<div
		class="col-lg-6 col-md-12 d-flex flex-column justify-content-between panel-bg-color py-4"
	>
		<!-- "Like" and "Cart" buttons -->
		<div class="d-flex mb-4">
        {% if user.is_authenticated %}
            <button
                data-href="{{ product.get_absolute_url }}like/"
                class="like btn btn-danger me-auto"
            >
                <ion-icon name="heart-outline"></ion-icon>
            </button>
        {% else %}
            <span></span>
        {% endif %}
			<a href="#" class="btn btn-success ms-2">
				<ion-icon name="cart-outline"></ion-icon>
			</a>
		</div>
		<!-- Price and link to reviews -->
		<div class="d-flex justify-content-between align-items-center">
			<h4>{{ product.price }}$</h4>
			<a href="#reviews">Reviews</a>
		</div>
		<hr />
		<!-- Short description -->
		<div>
			<h5>Short description</h5>
			<p>{{ product.description |safe|truncatewords:25 }}</p>
			<a
				href="#description"
				class="btn btn-outline-info d-block text-center"
			>
				Read more...
			</a>
		</div>
		<hr />
		<!-- Share buttons -->
		<div>
			<h5 class="mb-4">Share</h5>
			<div class="row share-links">
				{% with current_url=request.build_absolute_uri %}
				<div
					class="col-md-6 col-sm-12 d-flex justify-content-end align-items-center"
				>
					<!-- Share link for Telegram -->
					<a
						target="_blank"
						class="float_left me-4"
						href="https://t.me/share/url?url={{ current_url }}"
					>
						<ion-icon name="navigate-circle"></ion-icon>
					</a>
					<!-- Share link for Facebook -->
					<a
						target="_blank"
						class="float_left me-4"
						href="https://www.facebook.com/sharer.php?u={{ current_url }}"
					>
						<ion-icon name="logo-facebook"></ion-icon>
					</a>
					<!-- Share link for LinkedIn -->
					<a
						target="_blank"
						class="float_left"
						href="https://www.linkedin.com/sharing/share-offsite/?url={{ current_url }}"
					>
						<ion-icon name="logo-linkedin"></ion-icon>
					</a>
				</div>
				<div class="col-md-6 col-sm-12 d-flex align-items-center">
					<!-- Share link for Twitter -->
					<a
						target="_blank"
						class="float_left me-4"
						href="https://twitter.com/share?original_referer={{ current_url }}"
					>
						<ion-icon name="logo-twitter"></ion-icon>
					</a>
					<!-- Share link for Viber -->
					<a
						target="_blank"
						class="float_left me-4"
						href="viber://forward?text={{ current_url }}"
					>
						<ion-icon name="logo-whatsapp"></ion-icon>
					</a>
					<!-- Share link for Email -->
					<a
						target="_blank"
						class="float_left"
						href="mailto:?subject=Check-{{ product.name }}&body={{ current_url }}"
					>
						<ion-icon name="mail-outline"></ion-icon>
					</a>
				</div>
				{% endwith %}
			</div>
		</div>
	</div>
</div>

<h3 id="description" class="my-3">Description</h3>

<!-- Row with product description -->
<div class="row px-3">
	<div class="panel-bg-color col-12 pt-4 pb-3">
		<p>{{ product.description |safe }}</p>
	</div>
</div>

<h3 id="reviews" class="my-3">Reviews</h3>

<!-- Row with review form and product reviews -->
<div class="row px-3">
	<div class="panel-bg-color col-12 py-3">
		<form
			class="mb-3"
			method="post"
			id="review_form"
			action="{{ request.path }}review/"
		>
			{% csrf_token %} 
            {{ review_form.as_div }}
			<input type="hidden" id="review_parent" name="review_parent_id" />
			<input
				type="submit"
				value="Add review"
				class="btn btn-success btn-lg mb-3"
			/>
		</form>

		{% for review in product.get_reviews %}
		<div class="review mb-4">
			<div
				class="review__header p-2 mb-1 bg-primary bg-opacity-50 text-white d-flex justify-content-between"
			>
				<b>{{ review.name }}</b>
				{{ review.created |date:"d.m.Y | H:i" }}
			</div>
			<div
				class="review__body d-flex justify-content-between align-items-center"
			>
				<p class="mb-0"><b>Review:</b> {{ review.body }}</p>
				<a
					href="#review_form"
					class="btn btn-outline-info btn-sm"
					onclick="add_answer_for_('{{ review.name }}', '{{ review.id }}')"
				>
					Answer
				</a>
			</div>
			{% for child_review in review.review_set.all %}
			<div class="review mt-2 d-flex justify-content-end">
				<div class="child-review">
					<div
						class="review__header p-2 mb-1 bg-primary bg-opacity-50 text-white d-flex justify-content-between"
					>
						<b>{{ child_review.name }}</b>
						{{ child_review.created |date:"d.m.Y | H:i" }}
					</div>
					<p class="mb-0"><b>Answer:</b> {{ child_review.body }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
		{% empty %} 
            {% include 'utils/_alert.html' with message="There are no reviews yet." category="primary" dismissible=False only %}
        {% endfor %}
	</div>
</div>
{% endblock content %} 


{% block scripts %}
{{ block.super }}

<script defer>
	function add_answer_for_(name, id) {
		document.getElementById("review_parent").value = id;
		document.getElementById("id_body").innerText = `${name}, `;
		document.querySelector("label[for='id_body']").textContent = "Answer:";
		document.querySelector("#review_form .btn").value = "Add answer";
	}
</script>
{% endblock scripts %}
