{% extends '_base.html' %} 
{% load static %} 

{% block title %}{{ page_title }}{% endblock %}
{% block content_title %}{{ page_title }}{% endblock %} 

{% block styles %}
<style>
    #products {
        margin-left: 20px;
        margin-right: 0px;
    }
    @media screen and (max-width: 992px) { /* Bootstrap5 .lg breakpoint */
        #products { margin-left: 0px; }
    }
</style>
{% endblock styles %} 


{% block content %}
<div class="row px-3 d-flex justify-content-between">
    <!-- Sidebar with form(s) for filtering -->
    <div class="accordion col-lg-3 col-md-12 p-0">
        <div class="accordion-item panel-bg-color text-color">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button
                    type="button"
                    aria-expanded="true"
                    data-bs-toggle="collapse"
                    aria-controls="panelsStayOpen-collapseOne"
                    data-bs-target="#panelsStayOpen-collapseOne"
                    class="accordion-button panel-bg-color text-color"
                >
                    Filtering
                </button>
            </h2>
            <div
                id="panelsStayOpen-collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne"
            >
                <div class="accordion-body">
                    <form action="{% url 'shop:products' %}" method="post" name="filter">
                        {% csrf_token %}
                        {{ filter_form.as_div }}
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-success btn-lg mt-3">
                                Filter
                            </button>
                            <a 
                                href="{% url 'shop:products' %}" 
                                class="btn btn-danger btn-lg mt-3"
                            >
                                Clear
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Block with product cards -->
    <div class="col-lg-9 col-md-12 px-0">
        <div id="products" class="min-vh-100 row panel-bg-color px-3">
            <!-- Dropdown list with links for ordering -->
            <div class="dropdown mt-3 mb-2">
                <button 
                    aria-expanded="false"
                    data-bs-toggle="dropdown" 
                    class="btn btn-secondary btn-lg border-1 border-light dropdown-toggle" 
                >
                    Ordering
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a 
                            class="dropdown-item"
                            href="{{ request.path }}?orderby=name&orderdir=asc&q={{ request.GET.q }}" 
                        >
                            By name
                        </a>
                    </li>
                    <li>
                        <a 
                            class="dropdown-item"
                            href="{{ request.path }}?orderby=price&orderdir=asc&q={{ request.GET.q }}" 
                        >
                            From cheap
                        </a>
                    </li>
                    <li>
                        <a 
                            class="dropdown-item"
                            href="{{ request.path }}?orderby=price&orderdir=desc&q={{ request.GET.q }}" 
                        >
                            From expensive
                        </a>
                    </li>
                </ul>
            </div>
            {% for product in products %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="product rounded mb-3">
                    <div class="product__image w-100 d-flex justify-content-center align-items-center">
                        <a href="#" class="w-100 opacity-1">
                            <img
                                class="img-fluid w-100 rounded"
                                alt="{{ product.name }} image"
                                src="{{ product.image.url }}"
                            />
                        </a>
                    </div>
                    <div class="product__details">
                        <hr class="table-group-divider" />
                        <h4 class="mb-2 product__title">
                            <a href="#" class="text-decoration-none text-center">
                                {{ product.name |truncatechars:30 }}
                            </a>
                        </h4>
                        <hr class="table-group-divider" />
                        <p>
                            <h3 class="d-inline"><b>{{ product.price }}$</b></h3>
                        </p>
                    </div>
                    <div class="product__buttons d-flex justify-content-between">
                        <a href="#" class="btn btn-danger me-auto">
                            <ion-icon name="heart-outline"></ion-icon>
                        </a>
                        <a href="#" class="btn btn-success ms-auto">
                            <ion-icon name="cart-outline"></ion-icon>
                        </a>
                    </div>
                </div>
            </div>
            {% empty %}
                <div>
                    {% include 'utils/_alert.html' with message="There are no products that match your search criteria." category="primary" dismissible=False only %}
                </div>
            {% endfor %} 
        </div>
    </div>
</div>
{% endblock content %} 


{% block scripts %}
<!-- Script to add .active class for dropdown-item -->
<script>
    const url_params = new URLSearchParams(window.location.search);

    const order_by = url_params.get("orderby");
    const order_dir = url_params.get("orderdir");
    
    if (order_by && order_dir) {
        for (let link of document.querySelectorAll(".dropdown-item")) {
            if (link.href.includes(order_by) && link.href.includes(order_dir)) {
                link.classList.add("active");
                break;
            }
        }
    }
</script>
{% endblock scripts %} 
