{% extends '_base_email.html' %} 

{% block title %}Thank you for your order!{% endblock %} 
{% block content_title %}Receipt from LapZone{% endblock %} 

{% block styles %}
<style>
    .order-info { margin-bottom: 20px; }
    .order-info p { margin: 0; }

    .product-list table {
        width: 100%;
        border-collapse: collapse;
    }
    .product-list th,
    .product-list td {
        padding: 10px;
        text-align: left;
        border: 1px solid #ccc;
    }
    .product-list th { background-color: #eee; }
</style>
{% endblock styles %} 


{% block content %}
<div class="order-info">
    <p>
        Dear {{ email }}, <br />
        <br />
        Thank you for your order from LapZone! We are
        excited to let you know that your order has been received
        and is currently being processed. <br />
        <br />
        Order Details:
        <br />
        <br />
        Order Date: <strong>{% now 'H:i d.m.Y' %}</strong>
        <br />
        Order Number: <strong>{{ order_id }}</strong> 
    </p>
</div>
<div class="product-list">
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Unit price</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        {% for item_dict in cart %}
            <tr>
                <td>{{ item_dict.product.name }}</td>
                <td>{{ item_dict.price }}$</td>
                <td>{{ item_dict.quantity }}</td>
                <td>{{ item_dict.total_price }}$</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<p>Total: <strong>{{ cart.get_total_price }}$</strong></p>
{% endblock content %} 
