/* CSS variables */
:root {
    --text-color: var(--bs-dark);

    --bg-color: #eee;
    --panel-bg-color: white;
}
:root[theme="dark"] {
    --text-color: #fafafa;

    --bg-color: #343a40;
    --panel-bg-color: var(--bs-secondary);
}

.text-color { color: var(--text-color); }

.bg-color { background-color: var(--bg-color); }
.panel-bg-color { background-color: var(--panel-bg-color); }

/* Custom scrollbar */
::-webkit-scrollbar { 
    width: 15px; 
    background-color: var(--bs-dark);
}
::-webkit-scrollbar-track { 
    background-color: var(--bs-dark); 
}
::-webkit-scrollbar-thumb {
    opacity: 0.7;
    background: darkgray; 
}
::-webkit-scrollbar-thumb:hover { opacity: 1; }

/* Custom text selection */
::-moz-selection {
    color: white;
    background: #2f3542;
}

::selection {
    color: white;
    background: #2f3542;
}

/* Theme toggler */
#theme_toggler .checkbox {
    opacity: 0;
    position: absolute;
}
#theme_toggler .label {
    background-color: #343a40;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 23px;
    width: 48px;
    transform: scale(1.5);
}
#theme_toggler .label .ball {
    background-color: #fafafa;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 20px;
    width: 20px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
#theme_toggler .checkbox:checked + .label .ball { transform: translateX(24px); }

ion-icon[name="sunny"],
ion-icon[name="moon"] {
    color: yellow;
    font-size: 0.8em;
}

/* Global styles */
html,
body {
	height: 100%;
	font-size: 1.1em;
    scroll-behavior: smooth;

	color: var(--text-color);
	background-color: var(--bg-color);
}

body, header, main, footer { transition: background 0.3s linear; }

ion-icon { font-size: 2em; }

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled { cursor: not-allowed; }

.opacity-1, 
#go-to-top-btn:hover { opacity: 1; }

a, a.text-color, #go-to-top-btn { 
    opacity: 0.8; 
    transition: 0.3s; 
    text-decoration: none;
    color: var(--text-color);
}
a:hover, a.text-color:hover { 
    opacity: 1; 
    color: var(--text-color);
}

/* Header styles */

/* Main styles */
main { flex: 1 1 auto; }

#go-to-top-btn {
    border: none;
    outline: none;
    position: sticky;
    border-radius: 10px;
    margin: 30px 0 30px auto;
    width: 50px; height: 50px;
    right: 30px; bottom: 30px;
    display: none; /* Hidden by default */

    color: white;
    background-color: var(--bs-dark);
}
#go-to-top-btn ion-icon { font-size: 1.5em; }

/* Footer styles */

/* Media queries */
@media screen and (max-width: 768px) { /* Bootstrap5 .md breakpoint */
    #navbarSupportedContent {
        padding: 15px 0 15px 15px;
    }
}
