{% extends 'cart/detail.html' %}

{% block title %}Checkout{% endblock %} 
{% block content_title %}Checkout{% endblock %} 

{% block styles %}
{{ block.super }}

<style>
    .row:last-child { margin-bottom: 0!important; }

    textarea { height: 150px; }

    @media screen and (max-width: 576px) { /* Bootstrap5 .sm breakpoint */
        .form-control { width: 100%!important; }
    }
</style>
{% endblock styles %} 


{% block order_create_form %}
<!-- Full screen loader -->
<div
    id="screen-loader"
    style="z-index: 100; top: 0; left: 0;"
    class="d-none content-center h-100 w-100 position-fixed bg-dark bg-opacity-75"
>
    <div
        role="status"
        class="spinner-border text-white"
        style="width: 3rem; height: 3rem"
    ></div>
</div>

<div class="row px-3 mb-3">
    <div class="panel-bg-color col-12 p-3">
        <form action="" method="post" id="checkout-form">
            {% csrf_token %}

            {{ form.as_p }}

            <input 
                type="submit" 
                value="Checkout" 
                id="checkout-submit-btn"
                class="btn btn-success btn-lg mt-3"
            >
        </form>
    </div>
</div>
{% endblock order_create_form %} 


{% block cart_buttons %}{% endblock %} 
{% block script_to_disable_cart_btn %}{% endblock %} 

{% block scripts %}
{{ block.super }}

{% load static %}
<script 
    defer
    src="{% static 'js/order/submit_loader.js' %}" 
></script>
<script 
    defer
    src="{% static 'js/order/is_create_profile_switcher.js' %}" 
></script>
{% endblock scripts %} 
