{% extends 'order/_base.html' %} 

{% block title %}Order {{ order.id }}{% endblock %} 
{% block content_title %}Order {{ order.id }}{% endblock %}

{% block to_right_of_content_title %}
<a 
    title="Back to order list"
    href="{% url 'order:list' %}" 
    class="d-inline-flex content-center btn btn-dark opacity-75 rounded-circle border"
>
    <ion-icon name="arrow-back-outline"></ion-icon>
</a>
{% endblock to_right_of_content_title %} 


{% block content %}
<div class="row px-3 mb-5">
    <div class="panel-bg-color col-12 p-3">
        <div class="d-flex align-items-center fs-4 mb-3">
            <b>Order date: </b> &nbsp;
            <span>{{ order.created|date:"F d, Y, H:i A" }}</span>
        </div>
        
        <div class="fs-4 mb-1">
            <b class="mb-4">Order items</b>
        </div>

        <div class="white-space-nowrap overflow-auto">
            <table class="table">
                <thead>
                    <tr
                        class="d-flex justify-content-between align-items-center border-1 border-bottom border-top"
                    >
                        <th class="me-4">Image</th>
                        <th>Product</th>
                        <th>Unit price</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order_item in order.orderitem_set.all %}
                    {% with product_url=order_item.product.get_absolute_url %}
                    <tr
                        class="d-flex justify-content-between align-items-center border-1 border-bottom py-2"
                    >
                        <!-- Product image -->
                        <td class="image-td me-4">
                            <a href="{{ product_url }}" class="opacity-1">
                                <img
                                    class="img-fluid w-100"
                                    alt="{{ order_item.product.name }} image"
                                    src="{{ order_item.product.image.url }}"
                                />
                            </a>
                        </td>
                        <!-- Product name -->
                        <td>
                            <a href="{{ product_url }}" class="fs-5 white-space-normal">
                                {{ order_item.product.name }}
                            </a>
                        </td>
                        <!-- Order item unit price -->
                        <td class="fs-4">
                            {{ order_item.price }}$
                        </td>
                        <!-- Order item quantity -->
                        <td class="fs-3">
                            {{ order_item.quantity }}
                        </td>
                        <!-- Order item total price -->
                        <td class="fs-4">
                            {% widthratio order_item.price 1 order_item.quantity %}.0$
                        </td>
                    </tr>
                    {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div 
            class="d-flex justify-content-between align-items-center fs-4 mt-3"
        >
            <b>Order total price: </b>
            <span>{{ order.total_price }}$</span>
        </div>

        <div class="d-flex justify-content-end mt-4">
            <form action="{% url 'order:delete' order.pk %}" method="post">
                {% csrf_token %}
                <input 
                    type="submit" 
                    value="Remove" 
                    class="remove btn btn-danger btn-lg"
                >
            </form>
        </div>
    </div>
</div>
{% endblock content %} 
