{% extends 'order/_base.html' %} 

{% block title %}Order {{ order.id }}{% endblock %} 
{% block content_title %}Order {{ order.id }}{% endblock %}

{% block to_right_of_content_title %}
<a 
    title="Back to order list"
    href="{% url 'order:list' %}" 
    class="d-inline-flex content-center btn btn-dark opacity-75 rounded-circle border"
>
    <ion-icon name="arrow-back-outline"></ion-icon>
</a>
{% endblock to_right_of_content_title %} 


{% block content %}
<div class="d-flex align-items-center fs-4 mb-3">
    <b>Order date: </b> &nbsp;
    <span>{{ order.created|date:"F d, Y, H:i" }}</span>
</div>

<div class="fs-4 mb-1">
    <b class="mb-4">Order items</b>
</div>

{% include 'cart/utils/_product_table.html' with collection=order.orderitem_set.all app="order" only %}

<div
    class="d-flex justify-content-between align-items-center fs-4 mt-3"
>
    <b>Order total price: </b>
    <span>{{ order.total_price }}$</span>
</div>

<div class="d-flex justify-content-end mt-4">
    <form action="{% url 'order:delete' order.pk %}" method="post">
        {% csrf_token %}
        
        <input
            type="submit"
            value="Remove"
            class="remove btn btn-danger btn-lg"
        >
    </form>
</div>
{% endblock content %} 
