{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="author" content="Nikita Hubariev" />
		<meta name="keywords" content="LapZone, Shop, Laptop, IT" />
		<meta
			name="description"
			content="Internet shop for selling laptops and accessories for them."
		/>

		<!-- og:title is empty and social networks will take the page title -->
		<meta property="og:title" content="" />
		<meta property="og:site_name" content="LapZone" />
		<meta property="og:type" content="Internet shop" />
		<meta
			property="og:image"
			content="{% static 'images/site_header.webp' %}"
		/>
		<meta property="og:url" content="{{ request.build_absolute_uri }}" />
		<meta
			property="og:description"
			content="Internet shop for selling laptops and accessories for them."
		/>

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:image:alt" content="LapZone header image" />

		<title>{% block title %}{% endblock %} | LapZone</title>

		<!-- Bootstrap5 CSS -->
		<link
			rel="stylesheet"
			crossorigin="anonymous"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
			integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
		/>

		<!-- General CSS file -->
		<link
			type="text/css"
			rel="stylesheet"
			href="{% static 'css/general.css' %} "
		/>

		{# My styles and CSS files #} 
        {% block styles %}{% endblock styles %} 
	</head>
	<body>
		<div class="wrapper d-flex flex-column min-vh-100">
			<header></header>
			<main></main>

            <!-- Go to top button -->
            <button title="Go to top" id="go-to-top-btn">
                <ion-icon name="arrow-up-outline"></ion-icon>
            </button>

			<footer></footer>
		</div>

		<!-- Bootstrap5 script -->
		<script
			crossorigin="anonymous"
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
		></script>

		<!-- Scripts for icons from "https://ionic.io/ionicons" -->
		<script
			type="module"
			src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
		></script>
		<script
			nomodule
			src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
		></script>

        <!-- My scripts -->
        <script src="{% static 'js/go_to_top_btn.js' %} "></script>

        {% block scripts %}{% endblock %} 
	</body>
</html>
